extends layout

block content
    .col-sm-12.no-padding
        .row.main-row
            .col-sm-3.left-bar
                img(src='/images/leftbar-blue.png')
                .quote-container                
                    .quote Love is in all healing no matter what technique you use.
                    .author - Alberto Aguas - 
            .col-sm-9.content-block
                .col-sm-8
                    h1 ABOUT
                    img(src='/images/elizabeth-cosmos.jpg').about-img
                    p 
                        i Ama-Deus 
                        | is an energy healing method that has been 
                        | practice for over six thousand years. In the late 1980’s a 
                        | renowned medium/healer Alberto Costas Aguas met and interacted 
                        | with a Guarani tribe deep in the Amazon jungle. They knew he 
                        | was coming from their oral history and he understood and 
                        | recognized the gift of healing with Love that had been kept 
                        | safeguarded for thousands of years. Aguas working with the 
                        | Guarani for a ten year period and with their insistence this 
                        | system has been opened up and reintroduced to the world, and 
                        | the practice of co-creating Love in this dimension is growing 
                        | exponentially around the earth.
                    p 
                        i Ama-Deus 
                        | is a very high frequency or vibration of divine energy. 
                        | Ama-Deus is a human derived name given to describe a method for 
                        | tapping into a stream of consciousness. This stream of 
                        | consciousness is related too and best understood by a particular 
                        | thought - and that thought is Love.
                    p 
                        i Ama-Deus 
                        | is a method of using Love for healing. The purpose is to support 
                        | healing, to support the action that it takes to heal. All realize 
                        | from a brief encounter with unconditional Love, you are lifted up, 
                        | away from the worldly pulls and distractions, you see only the 
                        | beauty and hear only the harmony in life. Ama-Deus primarily helps 
                        | to smooth, stabilize, balance and bring tranquility as a gentle 
                        | and subtle energy adapting circumstances and offering what is 
                        | needed. Healing is always possible it is about becoming whole. 
                .col-sm-4
                    .love-is-display
                        .glyphicon.glyphicon-heart-empty
                        h4 Love is ...
                        .text A Force that holds the universe together
                        .text An Act that brings hearts to the truth
                        .text An Offering of freedom to all souls to be what they are...
                        //- h4 
                        //-     span.color-text LOVE 
                        //-     | IS A FORCE THAT HOLDS THE UNIVERSE TOGETHER 
                        //- h4 
                        //-     span.color-text LOVE 
                        //-     | IS THE ACT THAT BRINGS HEARTS TO THE TRUTH
                        //- h4 
                        //-     span.color-text LOVE 
                        //-     | IS THE ACT OF OFFERING FREEDOM TO ALL SOULS TO BE WHAT THEY ARE…

        .row.footer
            .col-sm-12.no-padding
                p.text-muted &copy; International Association of Ama-Deus &reg;, LLC All Rights Reserved - Registered U.S. Trademark
