extends layout

block content
    .col-sm-12.no-padding
        .col-sm-3.no-padding.left-bar
            img(src='/images/leftbar-blue.png')
            .quote-container                
                .quote Love is in all healing no matter what technique you use.
                .author - Alberto Aguas - 
        .col-sm-9.no-padding
            .row
                .col-sm-12.content-block
                    h1 ABOUT
