extends layout

block content
    .col-sm-12.no-padding
        .row.main-row
            .col-sm-3.left-bar
                img(src='/images/leftbar-blue.png')
                .quote-container                
                    .quote Love is in all healing no matter what technique you use.
                    .author - Alberto Aguas - 
            .col-sm-9.content-block
                h1 ABOUT
                img(src='/images/elizabeth-cosmos.jpg').about-img
                p 
                    | The Ama-Deus healing method is a spiritual healing 
                    | tool that works to enhance our growth and awareness 
                    | which supports your physical and emotional health. 
                    | Ama-Deus is a hand-mediated technique using healing 
                    | energy for one's self and others. This energy method 
                    | of healing complements other forms of health care and 
                    | may be used with individuals of all ages and stages of 
                    | health; animals and plants are also receptive to Ama-Deus. 
                p 
                    | The Ama-Deus healing method is a spiritual healing 
                    | tool that works to enhance our growth and awareness 
                    | which supports your physical and emotional health. 
                    | Ama-Deus is a hand-mediated technique using healing 
                    | energy for one's self and others. This energy method 
                    | of healing complements other forms of health care and 
                    | may be used with individuals of all ages and stages of 
                    | health; animals and plants are also receptive to Ama-Deus. 
                p 
                    | The Ama-Deus healing method is a spiritual healing 
                    | tool that works to enhance our growth and awareness 
                    | which supports your physical and emotional health. 
                    | Ama-Deus is a hand-mediated technique using healing 
                    | energy for one's self and others. This energy method 
                    | of healing complements other forms of health care and 
                    | may be used with individuals of all ages and stages of 
                    | health; animals and plants are also receptive to Ama-Deus.                     
        .row.footer
            .col-sm-12.no-padding
                p.text-muted &copy; International Association of Ama-Deus &reg;, LLC All Rights Reserved - Registered U.S. Trademark
