form(role='form', method='POST', action='/test-form')
    input(type='text', name='name', placeholder='Name')
    input(type='text', name='country', placeholder='Country')
    input(type='text', name='email', placeholder='Email')
    input(type='text', name='region', placeholder='Region')
    input(type='submit', value="submit")
