html
  head
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Ama-Deus
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    .container.admin-container
        span.pull-right.sign-out
            a(href='/logout') sign out
        ul(role='tablist').nav.nav-tabs
            li.active.nav-practitioner
                a(href='javascript:void(0)' data-url='/read-practitioner') practitioners
            li.nav-practitioner 
                a(href='javascript:void(0)' data-url='/read-course') course schedule
        div.mainContent
            block mainContent
    
script(src="http://code.jquery.com/jquery-2.0.3.min.js")
script(src="/javascripts/jquery-ui.min.js")
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="javascripts/admin.js")