extends layout

block content
    .col-sm-12.no-padding
        .col-sm-3.no-padding.left-bar
            img(src='/images/leftbar-purple.png')
            .quote-container
                .quote No one has the copyright on love.
                .author - Alberto Aguas -
        .col-sm-9.no-padding
            .row
                .col-sm-12.content-block
                    h1 CONTACT
