extends layout

block content
    .col-sm-12.no-padding
        .row.main-row
            .col-sm-3.left-bar
                img(src='/images/leftbar-teal.png')
                .quote-container
                    .quote No one has the copyright on love.
                    .author - Alberto Aguas -
            .col-sm-9.content-block
                .row
                    .col-sm-12
                        h1 AMA-DEUS HEALING COURSES
                .row
                    .col-sm-6
                        .course-accordion
                            h3 Grand Rapids, MI 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 Hong Kong, China 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 San Sebastion, Spain 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 Tempeh, AZ 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 Boulder, CO 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 New York City, NY 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                            h3 Los Angeles, CA 01/01/0001
                            .description
                                .field 
                                    span.glyphicon.glyphicon-heart-empty 
                                    | First and second Levels
                                .field 
                                    span.glyphicon.glyphicon-user 
                                    | Elizabeth Cosmos
                                .field
                                    span.glyphicon.glyphicon-envelope 
                                    | elizabeth.cosmos@testmail.com
                                .field
                                    span.glyphicon.glyphicon-earphone
                                    | 777-888-9999
                    .col-sm-6.course-descriptions
                        p 
                            | With Ama-Deus one is tapping into a higher Source of 
                            | Energy, tapping into a stream of consciousness that is 
                            | the original created Energy – enhanced and expanded by 
                            | all who have ever used it and who currently think of it. 
                            
                        p
                            | The presentation of learning Ama-Deus begins with an 
                            | initiation – a ritual introduction with intention to align 
                            | and tap into this particular stream of consciousness –uncreated 
                            | Energy – Source. Ama-Deus is focused on soul healing incorporating 
                            | 26 sacred symbols that assist in delivering the intention for 
                            | healing. Each of these sacred symbols holds specific intention 
                            | for assisting the soul on its earthly journey.
                        h2 
                            span.glyphicon.glyphicon-cog
                            | Level One
                        p
                            | The first level offers initiation into the 
                            | Ama-Deus® method of healing and the learning 
                            | of nine sacred symbols. 
                        h2 
                            span.glyphicon.glyphicon-cog
                            | Level Two

                        p
                            | The second level offers more information on 
                            | the history of the Guaraní Indians, Alberto 
                            | Águas and the use of seventeen additional 
                            | sacred symbols. Many of the sacred symbols 
                            | are for soul-level healing for the self as 
                            | well as others. 
        .row.footer
            .col-sm-12.no-padding
                p.text-muted &copy; International Association of Ama-Deus &reg;, LLC All Rights Reserved - Registered U.S. Trademark
