.col-sm-12.no-padding
    .col-sm-3.no-padding
        img(src='images/ghandi.png')
    .col-sm-9.no-padding.interactive-map
        .row
            .col-sm-12.content-block
    .col-sm-9.no-padding
        .row
            .col-sm-12.content-block
                h1 AMA-DEUS SPIRITUAL HEALING COURSES
                p
                    | Ama-Deus spiritual healing courses are taught in two levels.
                    | Each level is a seven hour course. These courses are taught
                    | in a didactic and experiential format. There is a strong emphasis
                    | that no person heals another person as all healing is self-healing.
                    | We are all in a constant process of becoming whole.
                p
                    | Healing is recognized and changing what needs to be changed in order
                    | to move in a self-directed way to a point of understanding. True
                    | healing means self examination and emotional release. Energy healing 
                    | techniques are tools to aid and support in the healing process. We are
                    | never alone.

                p
                    | All the successful spiritual energy healings have one common thread,
                    | and that is Love. In our compassion to help others and to help alleviate
                    | suffering, we engage ourselves in an energy healing relationship that by
                    | it's very intention speaks of Love. Without Love there can be no healing.
                    | And since no one has a copyright on God's Love, we all have the capacity 
                    | to go within and realize we have access to healing powers for ourselves
                    | as well as others. We can all be conductors and transformers of the Universal
                    | Life Force for the whole of humanity.
        .row
            .col-sm-12.index-footer
                p.text-muted &copy; International Association of Ama-Deus
                    sup &reg;
                    , LLC All Rights Reserved - Registered U.S. Trademark