extends layout

block content
    .col-sm-12.no-padding
        .col-sm-3.no-padding
            img(src='images/flower-test.png')
        .col-sm-9.no-padding
            .row
                .col-sm-5.center-cont
                    .row.center-row
                        .col-sm-12
                            img(src='images/purple-test.png')
                    .row
                        .col-sm-12
                            img(src='images/teal.png')
                .col-sm-7.no-padding
                    img(src='images/sand.png')
            .row
                .col-sm-12.index-footer
                    p.text-muted &copy; International Association of Ama-Deus
                        sup &reg;
                        , LLC All Rights Reserved - Registered U.S. Trademark