extends layout

block content
    .col-sm-12.no-padding
        .col-sm-3.no-padding.left-bar
            img(src='/images/leftbar-violet.png')
            .quote-container
                .quote God-realization is nothing but the ability and expansiveness of the heart to love everything equally.
                .author - Amma -
        .col-sm-9.no-padding
            .row
                .col-sm-12.content-block
                    h1 INFO TEST
