extends admin-login-layout

block content
    .container
        h4 Login to Amadeus admin
        form(action='login' method='post').form
            .row
                .form-group.col-xs-6
                    .label Username:
                    input(type='text' name='username' placeholder='Username').form-control
            .row        
                .form-group.col-xs-6
                    .label Password:
                    input(type='password' name='password' placeholder='Password').form-control    
            .row
                .col-xs-6
                    input(type='submit' value='Submit').btn.btn-primary.pull-right    
