extends layout

block content
    .col-sm-12.no-padding
        .row.main-row
            .col-sm-3.left-bar
                img(src='/images/leftbar-violet.png')
                .quote-container
                    .quote God-realization is nothing but the ability and expansiveness of the heart to love everything equally.
                    .author - Amma -
            .col-sm-9.content-block
                h1 PRESS
        .row.footer
            .col-sm-12.no-padding
                p.text-muted &copy; International Association of Ama-Deus &reg;, LLC All Rights Reserved - Registered U.S. Trademark                