body,
html {
  max-width: 1440px;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.navbar {
  background-color: #fff;
  border: none;
  margin: 85px 0px 0px 0px;
}
ul.navbar-nav {
  float: right;
}
.navbar-default .navbar-nav:hover {
  background-color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff;
  color: #777;
}
.navbar-default .navbar-nav>.active>a {
  background-color: #fff;
  color: #777;
}
.navbar-default .navbar-nav>li>a {
  font-size: 18px;
  color: #999;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}
.nav-cont {
  margin: 0px 0px 0px 3%;
}
.main-logo {
  height: 125px;
  margin: 15px 0px 0px 0px;
  cursor: pointer;
}
.content-block {
  background-color: #f7f7f7;
  margin: 0px 0px 0px 25px;
  padding: 30px 180px 130px 40px;
}
.content-block h1 {
  font-size: 16px;
  color: #777;
  letter-spacing: 3px;
  margin: 0px 0px 25px 0px;
}
.content-block p {
  font-size: 14px;
  color: #999;
  text-align: justified;
  margin: 0px 0px 25px 0px;
}
/*** index, home ***/
.col-sm-12.no-padding {
  padding: 0px;
}
.col-sm-3.no-padding {
  padding: 0px;
}
.col-sm-9.no-padding {
  padding: 0px;
}
.col-sm-7.no-padding {
  padding: 0px;
}
.col-sm-5.center-cont {
  padding: 0px 10px 0px 25px;
  overflow: none;
}
.row.center-row {
  padding: 0px 0px 10px 0px;
}
/*******************/
.col-sm-12.index-footer {
  background-color: #f0f0f0;
  margin: 10px 0px 0px 2.2%;
  padding: 30px 20px 20px 20px;
  font-size: 12px;
  letter-spacing: 3px;
  width: 97.8%;
}
