img {
  max-width: 100%;
}
.navbar {
  background-color: #fff;
  border: none;
  margin: 85px 0px 0px 0px;
}
ul.navbar-nav {
  float: right;
}
.navbar-default .navbar-nav:hover {
  background-color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff;
  color: #777;
}
.navbar-default .navbar-nav>.active>a {
  background-color: #fff;
  color: #777;
}
.navbar-default .navbar-nav>li>a {
  font-size: 18px;
  color: #999;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}
.main-logo {
  height: 125px;
  margin: 15px 0px 0px 0px;
}
.index-footer {
  background-color: #999;
}
.col-sm-12.no-padding {
  padding: 0px;
}
.col-sm-3.no-padding {
  padding: 0px;
}
.col-sm-9.no-padding {
  padding: 0px;
}
.col-sm-7.no-padding {
  padding: 0px;
}
.col-sm-5.center-cont {
  padding: 0px 10px 0px 25px;
}
.row.center-row {
  padding: 0px 0px 10px 0px;
}
.nav-cont {
  margin: 0px 0px 0px 40px;
}
